datasets
huggingface_hub[cli]
numpy
plotly
requests
scikit-learn
transformers
fuzzywuzzy
pytest
typing_extensions
python-Levenshtein

packaging 
psutil 
ninja 


--extra-index-url https://download.pytorch.org/whl/cu126
torch
accelerate
transformers
